:javascript
  $('.page-header').hide();

#about-page
  %a#back-link{:href => "/"}
    %img#about-logo{:src => "/logo.png"}
    #back-text &larr; Back To All Jobs
  %h1 We Connect Startups &amp; Talent
  %p We want to help you find your next hire, whether you're looking for a cofounder, intern, contractor, or your next full-time employee.
  .page-content.both-rounded
    .job.head
      %i - Who built this thing, anyways? -
    .job#nathan
      %img.prof-pic{:src => "https://twimg0-a.akamaihd.net/profile_images/1646083781/movieme-icon_reasonably_small.png"}
      %h3 Nathan Bashaw
      %p Designer at <a target="blank" href="http://olark.com/">Olark</a>. My official title is Pixel Cowboy. Started <a target="blank" href="http://thoughtback.com">Thoughtback</a> and <a target="blank" href="http://facebook.com/groups/hackersandhustlers">Hackers &amp; Hustlers</a>.
      .social
        %a.twitter{:href => "http://twitter.com/nbashaw", :target => "blank"}
        %a.tumblr{:href => "http://nbashaw.com/", :target => "blank"}
        %a.email{:href => "mailto:nbashaw@gmail.com", :target => "blank"}
        %a.linkedin{:href => "http://linkedin.com/in/nathanbashaw", :target => "blank"}
        %a.github{:href => "http://github.com/nbashaw", :target => "blank"}
        %a.facebook{:href => "http://facebook.com/nbashaw", :target => "blank"}
        %a.dribbble{:href => "http://dribbble.com/nbashaw", :target => "blank"}
      .clear
    .job#nate
      %img.prof-pic{:src => 'https://twimg0-a.akamaihd.net/profile_images/1778079543/mug_reasonably_small.jpg'}
      %h3 Nate West
      %p #startups, rock #climbing, and #tea. Working on @HnHJobs Passionate about #Design
      .social
        %a.twitter{:href => "http://twitter.com/nate_west", :target => "blank"}
        %a.tumblr{:href => "http://blog.nate-west.com/", :target => "blank"}
        %a.email{:href => "mailto:nwestr@gmail.com", :target => "blank"}
        %a.linkedin{:href => "http://www.linkedin.com/pub/nathan-west/26/7aa/198", :target => "blank"}
        %a.github{:href => "http://github.com/nwest", :target => "blank"}
        %a.facebook{:href => "http://facebook.com/natewest", :target => "blank"}
        %a.dribbble{:href => "http://dribbble.com/Nate_West", :target => "blank"}
      .clear
  .bottom-tear
  
  
-#.page-content.both-rounded
  .job
    %h1 About Hackers &amp; Hustlers Jobs
    %p Made by <a href="http://twitter.com/nate_west">Nate West</a> and <a href="http://twitter.com/nbashaw">Nathan Bashaw</a>, in about 72 hours. If you have any questions not answered below just <a href="mailto:nbashaw@gmail.com">email Nathan</a>.

    %h2 How long is the approval process?
    %p Definitely less than a day, probably less than 12 hours.

    %h2 How do I get approved?
    %p By having a high quality opportunity we're proud to pass along to the H&amp;H network.

    %h2 Why was this board made?
    %p Because Michigan startups don't have a great way to get the word out that they're hiring. A symptom of this was that people kept posting job opportunities in the H&amp;H Facebook group, even though it's really not the best forum for that.

    %h2 What if the position is filled?
    We'll take it off any posting the original poster tells us to. Just email <a href="mailto:nbashaw@gmail.com">Nathan</a> if you need this done.

    %h2 You denied my listing! What did I do wrong?
    It could be a variety of things. Most likely, your job is great but it's not exactly geared towards our target audience - silicon valley style startup people.

    %h2 Is this free?
    For now, yes.

    %h2 Who are you?
    Just a couple designer/hackers who want to help. Nate is a student at MSU, and Nathan is a designer at Olark.

    %h2 I want X feature!
    Post on the <a href="http://facebook.com/groups/hackersandhustlers">H&amp;H Facebook group</a>! We're excited to hear your idea.
    .bottom-tear
