!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title Hackers &amp; Hustlers Jobs
    %link{:rel => "stylesheet", :href => "/bootstrap/css/bootstrap.min.css"}
    %link{:href => 'http://fonts.googleapis.com/css?family=Rokkitt:400,700|Open+Sans:400,700', :rel => 'stylesheet', :type => 'text/css'}
    %link{:rel => "stylesheet", :href => "/style.css"}
    %script{:type => "text/javascript", :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"}
  %body
    .container
      .page-header
        %a{:href => "/"}
          %img#logo{:src => '/logo.png'}
        #header-content
          %h1 <a href="/">H&amp;H Startup Jobs</a>
          %p Join an awesome startup. Curious? <a href="/about">Learn more</a>
      .page
        = yield
      %footer
        %p &copy; Hackers &amp; Hustlers 2012
    %script{:type => "text/javascript", :src => '/bootstrap/js/bootstrap.min.js'}
    %script{:type => "text/javascript", :src => '/bootstrap/js/bootstrap-transition.js'}
    %script{:type => "text/javascript", :src => '/bootstrap/js/bootstrap-tab.js'}
    %script{:type => "text/javascript", :src => '/bootstrap/js/bootstrap-alerts.js'}
    %script{:type => "text/javascript", :src => "/cookie.js"}
    %script{:type => "text/javascript", :src => "/showdown.js"}
    %script{:type => "text/javascript", :src => "/script.js"}
    :javascript
      var _kmq = _kmq || [];
        function _kms(u){
          setTimeout(function(){
          var s = document.createElement('script'); var f = document.getElementsByTagName('script')[0]; s.type = 'text/javascript'; s.async = true;
          s.src = u; f.parentNode.insertBefore(s, f);
          }, 1);
        }
        _kms('//i.kissmetrics.com/i.js');_kms('//doug1izaerwt3.cloudfront.net/7b523caf31796ce741ed61ea42bf4349f2f3a59c.1.js');
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29153070-1']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
    :erb
      <!-- begin olark code --><script type='text/javascript'>/*{literal}<![CDATA[*/window.olark||(function(i){var e=window,h=document,a=e.location.protocol=="https:"?"https:":"http:",g=i.name,b="load";(function(){e[g]=function(){(c.s=c.s||[]).push(arguments)};var c=e[g]._={},f=i.methods.length; while(f--){(function(j){e[g][j]=function(){e[g]("call",j,arguments)}})(i.methods[f])} c.l=i.loader;c.i=arguments.callee;c.f=setTimeout(function(){if(c.f){(new Image).src=a+"//"+c.l.replace(".js",".png")+"&"+escape(e.location.href)}c.f=null},20000);c.p={0:+new Date};c.P=function(j){c.p[j]=new Date-c.p[0]};function d(){c.P(b);e[g](b)}e.addEventListener?e.addEventListener(b,d,false):e.attachEvent("on"+b,d); (function(){function l(j){j="head";return["<",j,"></",j,"><",z,' onl'+'oad="var d=',B,";d.getElementsByTagName('head')[0].",y,"(d.",A,"('script')).",u,"='",a,"//",c.l,"'",'"',"></",z,">"].join("")}var z="body",s=h[z];if(!s){return setTimeout(arguments.callee,100)}c.P(1);var y="appendChild",A="createElement",u="src",r=h[A]("div"),G=r[y](h[A](g)),D=h[A]("iframe"),B="document",C="domain",q;r.style.display="none";s.insertBefore(r,s.firstChild).id=g;D.frameBorder="0";D.id=g+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){D.src="javascript:false"} D.allowTransparency="true";G[y](D);try{D.contentWindow[B].open()}catch(F){i[C]=h[C];q="javascript:var d="+B+".open();d.domain='"+h.domain+"';";D[u]=q+"void(0);"}try{var H=D.contentWindow[B];H.write(l());H.close()}catch(E){D[u]=q+'d.write("'+l().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}c.P(2)})()})()})({loader:(function(a){return "static.olark.com/jsclient/loader0.js?ts="+(a?a[1]:(+new Date))})(document.cookie.match(/olarkld=([0-9]+)/)),name:"olark",methods:["configure","extend","declare","identify"]});
          /* custom configuration goes here (www.olark.com/documentation) */
          olark.identify('9276-352-10-4451');/*]]>{/literal}*/</script>
          <!-- end olark code -->
